<nav class="bg-gray-100 fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-lg flex flex-wrap items-center justify-between mx-auto p-3">
    <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="images/freshcart-logo.svg" class="h-7" alt="freshcart-Logo" />

    </a>
    <div class="flex justify-between md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <ul class="flex items-center gap-x-5">
        <li>
          <a href="#" class="px-1"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="px-1"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="px-1"><i class="fa-brands fa-youtube"></i></a>
          <a href="#" class="px-1"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="px-1"><i class="fa-brands fa-linkedin"></i></a>
        </li>
@if(!isLogin){
 <li>
          <a routerLink="register" routerLinkActive="text-green-600"
           class="block px-[3px] md:py-2 md:px-3 text-black  rounded   md:p-0"
            aria-current="page">register</a>
        </li>
        <li>
          <a routerLink="login" routerLinkActive="text-green-600"
           class="block px-[3px] md:py-2 md:px-3 text-black  rounded   md:p-0" aria-current="page">login</a>
        </li>
}
@else {
        <li>
          <a (click)="authService.logout()" class="cursor-pointer block px-[3px] md:py-2 md:px-3 text-black  rounded   md:p-0"
            aria-current="page">logout</a>
        </li>
}

      </ul>

      <button data-collapse-toggle="navbar-cta" type="button"
        class="inline-flex items-center p-2 w-9 h-9 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">
        <li>
          <a    routerLink="home" routerLinkActive="text-green-600"
           class="block py-2 px-3 text-black  rounded  md:p-0" aria-current="page">Home</a>
        </li> 
        @if(isLogin){

        <li>
          <a routerLink="cart" routerLinkActive="text-green-600"
           class="block py-2 px-3 text-black rounded   md:p-0" aria-current="page">cart</a>
        </li>
}

        <li>
          <a    routerLink="products" routerLinkActive="text-green-600"
           class="block py-2 px-3 text-black  rounded  md:p-0"
            aria-current="page">products</a>
        </li>
        <li>
          <a    routerLink="categories" routerLinkActive="text-green-600"
           class="block py-2 px-3 text-black  rounded   md:p-0"
            aria-current="page">catigories</a>
        </li>
        <li>
          <a  routerLink="brands" routerLinkActive="text-green-600"
           class="block py-2 px-3 text-black  rounded  md:p-0"
            aria-current="page">brands</a>
        </li>

      </ul>
    </div>
  </div>
</nav>