<section class="w-3/4 mx-auto">



    <h1 class="text-green-600 text-xl font-medium  my-5">register now :</h1>
    @if(errMsg()){
<div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
     <p>{{errMsg()}}</p>
  
</div>
 }
    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">

        <div class="mb-3">
            <label for="name" class="block mb-1 text-sm font-medium text-heading">name :</label>
            <input formControlName="name" type="text" id="name"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">

                @if (registerForm.get('name')?.errors?.['required']) {
                <p>

                    name is required

                </p>

                }
                @else if (registerForm.get('name')?.errors?.['minlength']) {
                <p>

                    name min length :3

                </p>

                }
                @else if (registerForm.get('name')?.errors?.['maxlength']) {
                <p>

                    name max length :20

                </p>

                }
            </div>

            }
        </div>
        <div class="mb-3">
            <label for="email" class="block mb-1 text-sm font-medium text-heading">email :</label>
            <input formControlName="email" type="email" id="email"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if(registerForm.get('email')?.errors&&registerForm.get('email')?.touched){
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(registerForm.get('email')?.errors?.['required']){
                <p>email is required</p>
                }
                @else if(registerForm.get('email')?.errors?.['email']){
                <p>email not valid</p>
                }
            </div>
            }
        </div>


        <div class="mb-3">
            <label for="password" class="block mb-1 text-sm font-medium text-heading">password :</label>
            <input formControlName="password" type="password" id="password"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if (registerForm.get('password')?.errors&&registerForm.get('password')?.touched) {
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(registerForm.get('password')?.errors?.['required']){
                <p>password is required</p>
                }
                @else if (registerForm.get('password')?.errors?.['pattern']) {
                <p>password not valid</p>
                }
            </div>
            }
        </div>


        <div class="mb-3">
            <label for="repassword" class="block mb-1 text-sm font-medium text-heading">repassword :</label>
            <input formControlName="rePassword" type="password" id="repassword"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if (registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched) {
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(registerForm.get('rePassword')?.errors?.['required']){
                <p>repassword is required</p>
                }
                @else if (registerForm.get('rePassword')?.errors?.['mismatch']) {

                <p>repassword not match password</p>

                }

            </div>
            }   
        </div>


        <div class="mb-3">
            <label for="phone" class="block mb-1 text-sm font-medium text-heading">phone :</label>
            <input formControlName="phone" type="tel" id="phone"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if (registerForm.get('phone')?.errors&&registerForm.get('phone')?.touched) {
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(registerForm.get('phone')?.errors?.['required']){
                <p>phone is required</p>
                }
                @else if (registerForm.get('phone')?.errors?.['pattern']) {
                <p>phone not valid</p>
                }
            </div>
            }
        </div>

        <button [disabled]="registerForm.invalid" class="btn-main mb-5 block ms-auto">
@if (isLoading()) {
<span><i class="fa-solid fa-spinner fa-spin"></i></span>
}

@else{
<span>Register</span>
}
        </button>





    </form>




</section>