<section class="w-3/4 mx-auto">



    <h1 class="text-green-600 text-xl font-medium  my-5">Login now :</h1>
    @if(errMsg()){
    <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        <p>{{errMsg()}}</p>

    </div>
    }
    <form [formGroup]="logInForm" (ngSubmit)="submitLoginForm()">


        <div class="mb-3">
            <label for="email" class="block mb-1 text-sm font-medium text-heading">email :</label>
            <input formControlName="email" type="email" id="email"
                class=" bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
     <app-error [control]="logInForm.controls['email']" [errorMessages]="validationMessages.email">

  </app-error>
            
        </div>


        <div class="mb-3">
            <label for="password" class="block mb-1 text-sm font-medium text-heading">password :</label>
            <input formControlName="password" type="password" id="password"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
           <app-error [control]="logInForm.controls['password']" [errorMessages]="validationMessages.password"></app-error>
            
        </div>
        <div class="mb-5 flex justify-between items-center">
            <a routerLink="/forgetpassword" class="text-blue-700 underline">Forget Password</a>
            <button [disabled]="logInForm.invalid" class="btn-main block ms-auto">
                @if (isLoading()) {
                <span><i class="fa-solid fa-spinner fa-spin"></i></span>
                }

                @else{
                <span>Login</span>
                }
            </button>

        </div>

 


    </form>
    <div>




    </div>




</section>

