<section class="w-3/4 mx-auto">



    <h1 class="text-green-600 text-xl font-medium  my-5">Reset New Password :</h1>
    @if(errMsg()){
    <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        <p>{{errMsg()}}</p>

    </div>
    }
    <form [formGroup]="resetNewPasswordForm" (ngSubmit)="submitResetNewPasswordForm()">


        <div class="mb-3">
            <label for="email" class="block mb-1 text-sm font-medium text-heading">email :</label>
            <input formControlName="email" type="email" id="email"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if(resetNewPasswordForm.get('email')?.errors&&resetNewPasswordForm.get('email')?.touched){
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(resetNewPasswordForm.get('email')?.errors?.['required']){
                <p>email is required</p>
                }
                @else if(resetNewPasswordForm.get('email')?.errors?.['email']){
                <p>email not valid</p>
                }
            </div>
            }
        </div>


        <div class="mb-3">
            <label for="password" class="block mb-1 text-sm font-medium text-heading">password :</label>
            <input formControlName="newPassword" type="password" id="password"
                class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" />
            @if (resetNewPasswordForm.get('newPassword')?.errors&&resetNewPasswordForm.get('newPassword')?.touched) {
            <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
                @if(resetNewPasswordForm.get('newPassword')?.errors?.['required']){
                <p>password is required</p>
                }
                @else if (resetNewPasswordForm.get('newPassword')?.errors?.['pattern']) {
                <p>password not valid</p>
                }
            </div>
            }
        </div>


        <button [disabled]="resetNewPasswordForm.invalid" class="btn-main mb-5 block ms-auto">
            @if (isloading()) {
            <span><i class="fa-solid fa-spinner fa-spin"></i></span>
            }

            @else{
            <span>Submit</span>
            }
        </button>






    </form>




</section>