


<div class="w-3/4 mx-auto mt-12 mb-5 p-6 bg-neutral-primary-soft border border-default rounded-base shadow-xs">
    <div class="flex items-center justify-between mb-4">
        <div>
        <h1 class="text-xl font-semibold  text-heading">Shop Cart</h1>
        <p class="text-base my-1 font-medium   text-green-700">Total Cart Price : {{cartData(). totalCartPrice}}EGP</p>
        </div>
        <button  class="btn-main">Clear All</button>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-default">
            @for(item of cartData().products ; track $index){
  <li class="py-4 sm:py-4">
                <div class="flex items-center gap-2">
                    <div class="shrink-0">
                        <img class="w-30 h-30 object-contain " [src]="item.product.imageCover" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-2">
                        <h2 class="font-medium text-heading truncate">
                      {{ item.product.title}}
                        </h2>
                        <p class="text-sm my-1 text-body text-green-700 truncate">
                      price : {{item.price}}
                        </p>
                         <button class="cursor-pointer"><i class="fas fa-trash text-green-700"></i>Remove</button>
                    </div>
                    <div class="inline-flex items-center font-medium text-heading">
              <button class="bg-green-700 text-white cursor-pointer px-2 py-1 rounded">+</button>
              <span class="px-2">{{item.count}}</span> 
              <button class="bg-red-700 text-white cursor-pointer px-2 py-1 rounded">-</button>
                    </div>
                </div>
            </li>
          



            }
          
        </ul>
   </div>
</div>




